; A not optimized at all hello world program
psh 72 ; H
mov a st
prt a
psh 101 ; e
mov a st
prt a
psh 108 ; l
mov a st
prt a
prt a
psh 111 ; o
mov a st
prt a
psh 32 ; <Space>
mov a st
prt a
psh 87 ; W
mov a st
prt a
psh 111 ; o
mov a st
prt a
psh 114 ; r
mov a st
prt a
psh 108 ; l
mov a st
prt a
psh 100 ; d
mov a st
prt a
psh 32 ; <space>
mov a st
prt a
psh 33 ; !
mov a st
prt a
psh 10 ; \n
mov a st
prt a